#col1{
	background-image: url(images/col1-bg.jpg);
	background-attachment: fixed;
	background-size: 17.5%;
}

#col3{
	background-image: url(images/col3-bg.jpg);
	background-attachment: fixed;
	background-size: 20.35%;
}

#col-main{
	background-image: url(images/col-main-bg.jpg);
	background-size: 85%;

}
